/* 
    Created on : 16.3.2016, 14:12:35
    Author     : jana
*/
.slider{
    width: 75%;  
    margin-top: 20px;
}
#css-table .collumn {
    display: table-cell;
    float:left;
    padding: 10px;
}
.thirdScreen{
    width: 32%;
}
.fullScreen{ 
    width: 95%;
}
.inline > * {
    display: inline-block;
}
#css-table .collumn:nth-child(even) { 
    background: #ccc;
}
#css-table .collumn:nth-child(odd) { 
    background: #eee;
}

.sliderDiv {
    width: 50%; 
    padding: 20px;
    margin: auto;
}
.selectDiv {
    display: flex;
    margin: auto;
    margin: 15px;
}
.arrows {
    float:left;
    margin:10px;
}
.labelSelectBox {
    width: 50%;
    float: left;
}
.center {
    padding:5px;
    margin: auto;
    width: 50%;
    background-color: white;
}