/* 
    Created on : 16.3.2016, 14:12:35
    Author     : jana
*/
#slider {
    width: 50%;  
    margin-top: 20px;
}
#slider_div {
    width: 50%; 
    padding: 20px;
    margin: auto;
    background-color: #E4E4E4;
}
#select_div {
    display: flex;
    margin: auto;
margin: 15px;
}
#arrows {
    float:left;
    margin:10px;
}

.labelSelectBox {  
    width: 50%;    
    float: left;
}
.center {   
    padding:5px;
    margin: auto;   
    width: 50%;
    background-color: #E4E4E4;
}